
.mainContainer{
  font-family: 'roboto', arial, helvetica;
  position: relative;
}

.gridContainer{
  justify-content: center;
  margin-top: 0;
}

.cartButton{
  position: absolute;
  right: 60px;
  top: 0;
}

body{
  background-color: #d5e1f45d;
  margin: 0;
}